# =========================
# Virtual Environment
# =========================
venv/
.venv/

# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/
*.ipynb

# =========================
# Dataset / Training Files
# =========================
dataset/
datasets/
data/

# =========================
# Machine Learning Models
# =========================
models/
*.h5
*.keras
*.pkl
*.joblib
*.ckpt
*.pb

# =========================
# Uploaded Files / Images
# =========================
app/static/uploads/

# =========================
# Logs
# =========================
*.log

# =========================
# SQLite Database
# =========================
*.db

# =========================
# Environment Variables
# =========================
.env

# =========================
# Node Modules
# =========================
node_modules/

# =========================
# Build Folders
# =========================
dist/
build/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Testing
# =========================
.pytest_cache/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
Desktop.ini
ehthumbs.db

# =========================
# Images (optional)
# =========================
*.png
*.jpg
*.jpeg

# =========================
# Temporary Files
# =========================
temp/
tmp/

# =========================
# Vercel
# =========================
.vercel/